name: EFC Full Production sync Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-paper:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          persist-credentials: true

      - name: Install Python deps
        run: |
          python3 -m pip install --upgrade pip
          pip install requests python-slugify

      - name: Build + generate package
        run: |
          cd efc_full_sync/tools
          python3 efc_full_sync_builder.py

      - name: Commit changes
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name  "GitHub Actions"
          git add .
          git commit -m "Auto: update EFC paper package" || echo "No changes"
          git push
