name: Export EFC Outputs to Figshare

on:
  push:
    branches:
      - main
    paths:
      - 'output/**'
      - '.github/workflows/export_figshare.yml'

jobs:
  upload-to-figshare:
    runs-on: ubuntu-latest

    steps:
      - name: Sanity check
        run: echo "Figshare workflow YAML is valid."
